<!DOCTYPE html>
<html>
  <head>
    <title>Nice Header</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>GitIssues</h1>
  <br>

    <h1> <%= state %> </h1>
    <br>
    <h2> Number of Issues <%= state %> for <%= day %> days to <%= daysEnd %> days is <%= number %>. Total is <%= total %>.</h2>
    <br>

<form method = "get" action="./">

<input type="submit" name="state" value="Back!">
</form>

  </body>
</html>
